In [1]:
print("Hello World")

Hello World

In [1]:
type('Hello World')

str

In [8]:
4.2e1

42.0

In [9]:
type(4.2e1)

float

In [2]:
f=2-3j
type(f)

complex

In [10]:
"My name is : \"Ankita\" "

'My name is : "Ankita" '

In [11]:
print("this is me\\")

this is me\

In [14]:
#swap
A=10
B=20
A,B=B,A
print(A,B)

20 10

In [17]:
fname = input("enter first name")
lname = input("enter last name")
print(fname,lname)

enter first namek
enter last named
k d

In [20]:
leng = int(input("length"))
b = int(input("breadth"))
area = leng * b
print(area)

length7
breadth8
56

In [21]:
eval('print("Yes")')
eval('123')
#automatically determine the type

Yes

123

In [22]:
l=3.5674455
b=5.678956
area=l*b
print(format(area,".3f"))
#format the funtion to fiven demand
#format for string goes for length like 20s, is format a string to 20 length character
#format for percentage <10.3% which means the number will multiply to 100 and will be upto 3 decimal places

20.259

In [23]:
import math

In [24]:
math.sqrt(4)

2.0

In [26]:
fname = input("Enter first name")
lname = input("Enter last name")
address = input("Enter your address")
salary = int(input("Enter your salary"))
mno = input("enter your mobile")
mno = '91-'+ mno
monsalary = float(salary/12)
format_sal=format(monsalary,".2f")
print(fname+'\t'+lname+'\n'+lname+mno+format_sal.rjust(23,'j'))

Enter first namee
Enter last namee
Enter your addresse
Enter your salary786
enter your mobile78687
e	e
e91-78687jjjjjjjjjjjjjjjjjj65.50

In [2]:
seq = [(1 , 2 , 3), (4 , 5 , 6), (7 , 8 , 9)]
for a , b, c in seq:
    print('a={0} , b={1}, c={2}'.format(a,b,c))

a=1 , b=2, c=3
a=4 , b=5, c=6
a=7 , b=8, c=9

In [4]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print('a b are', a, b, 'rest are',rest)
values.count(1)

a b are 1 2 rest are [3, 4, 5]

1

My Practice Code

In [3]:
def factors(num):
    list_factor=[]
    for i in range(1,num+1):
        if num % i ==0:
            list_factor.append(i)
    return list_factor
num = int(input("Enter the number: "))
factor_n = factors(num)
for i in range(len(factor_n)):
    print(factor_n[i])

Enter the number: 86876876
1
2
4
21719219
43438438
86876876

**Alternate Tuple**

In [ ]:
def altr_tuple(tup):
    tup1=()
    for i in range(len(tup)):
        if i % 2 ==0:
           tup1 += (tup[i], ) 
    return tup1
num = int(input("enter the number of elements in the tuple: "))
emp =[]
for i in range(num):
    abc = print("enter the tuple:")
    emp.append(abc)

In [5]:
tup1=2,3
tup2=(2,3)
tup1==tup2

True

In [6]:
l1=[1,2,3]
print(2*l1)

[1, 2, 3, 1, 2, 3]

In [10]:
n=set([1,2,3,1])
print(len(n))

3